### Exercise Level 1 solutions

In [29]:
# Declare an empty list
empty_list = []

In [30]:
# Declare a list with more than 5 items
sample_list = [1, 2, 3, 4, 5, 6, 7]

In [31]:
# Find the length of your list
length_of_list = len(sample_list)
print(length_of_list)

7

In [32]:
# Get the first item, the middle item, and the last item of the list
first_item = sample_list[0]
middle_item = sample_list[len(sample_list) // 2]
last_item = sample_list[-1]
print(first_item, middle_item, last_item)

1 4 7

In [33]:
# Declare a list called mixed_data_types
mixed_data_types = ["John Doe", 30, 5.8, "Single", "123 Main St"]

In [34]:
# Declare a list variable named it_companies
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [35]:
# Print the number of companies in the list
number_of_companies = len(it_companies)
print(number_of_companies)

7

In [36]:
# Print the first, middle, and last company
first_company = it_companies[0]
middle_company = it_companies[len(it_companies) // 2]
last_company = it_companies[-1]
print(first_company, middle_company, last_company)

Facebook Apple Amazon

In [37]:
# Print the list after modifying one of the companies
it_companies[1] = "Alphabet"
print(it_companies)

['Facebook', 'Alphabet', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [38]:
# Add an IT company to it_companies
it_companies.append("Netflix")
print(it_companies)

['Facebook', 'Alphabet', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Netflix']

In [39]:
# Insert an IT company in the middle of the companies list
it_companies.insert(len(it_companies) // 2, "Tesla")
print(it_companies)

['Facebook', 'Alphabet', 'Microsoft', 'Apple', 'Tesla', 'IBM', 'Oracle', 'Amazon', 'Netflix']

In [40]:
# Change one of the it_companies names to uppercase (excluding IBM)
it_companies[0] = it_companies[0].upper()
print(it_companies)

['FACEBOOK', 'Alphabet', 'Microsoft', 'Apple', 'Tesla', 'IBM', 'Oracle', 'Amazon', 'Netflix']

In [41]:
# Join the it_companies with a string '#; '
joined_companies = "#; ".join(it_companies)
print(joined_companies)

FACEBOOK#; Alphabet#; Microsoft#; Apple#; Tesla#; IBM#; Oracle#; Amazon#; Netflix

In [42]:
# Check if a certain company exists in the it_companies list
company_exists = "Google" in it_companies
print(company_exists)

False

In [43]:
# Sort the list using sort() method
it_companies.sort()
print(it_companies)

['Alphabet', 'Amazon', 'Apple', 'FACEBOOK', 'IBM', 'Microsoft', 'Netflix', 'Oracle', 'Tesla']

In [44]:
# Reverse the list in descending order using reverse() method
it_companies.reverse()
print(it_companies)

['Tesla', 'Oracle', 'Netflix', 'Microsoft', 'IBM', 'FACEBOOK', 'Apple', 'Amazon', 'Alphabet']

In [45]:
# Slice out the first 3 companies from the list
first_three = it_companies[:3]
print(first_three)

['Tesla', 'Oracle', 'Netflix']

In [46]:
# Slice out the last 3 companies from the list
last_three = it_companies[-3:]
print(last_three)

['Apple', 'Amazon', 'Alphabet']

In [47]:
# Slice out the middle IT company or companies from the list
middle_start = len(it_companies) // 2
middle_slice = it_companies[middle_start:middle_start+1] if len(it_companies) % 2 != 0 else it_companies[middle_start-1:middle_start+1]
print(middle_slice)

['IBM']

In [48]:
# Remove the first IT company from the list
it_companies.pop(0)
print(it_companies)

['Oracle', 'Netflix', 'Microsoft', 'IBM', 'FACEBOOK', 'Apple', 'Amazon', 'Alphabet']

In [49]:
# Remove the middle IT company or companies from the list
middle_index = len(it_companies) // 2
if len(it_companies) % 2 != 0:
    it_companies.pop(middle_index)
else:
    del it_companies[middle_index-1:middle_index+1]
print(it_companies)

['Oracle', 'Netflix', 'Microsoft', 'Apple', 'Amazon', 'Alphabet']

In [50]:
# Remove the last IT company from the list
it_companies.pop()
print(it_companies)

['Oracle', 'Netflix', 'Microsoft', 'Apple', 'Amazon']

In [51]:
# Remove all IT companies from the list
it_companies.clear()
print(it_companies)

[]

In [52]:
# Destroy the IT companies list
del it_companies

In [53]:
# Join the following lists
front_end = ["HTML", "CSS", "JS", "React", "Redux"]
back_end = ["Node", "Express", "MongoDB"]
joined_list = front_end + back_end
print(joined_list)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [54]:
# Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux
full_stack = joined_list[:]
redux_index = full_stack.index("Redux")
full_stack.insert(redux_index + 1, "Python")
full_stack.insert(redux_index + 2, "SQL")
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

### Exercise Level 2 solutions

In [55]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print("Sorted ages:", ages)

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [56]:
min_age = min(ages)
max_age = max(ages)
print("Min age:", min_age)
print("Max age:", max_age)

Min age: 19
Max age: 26

In [57]:
ages.append(min_age)
ages.append(max_age)

In [58]:
n = len(ages)
if n % 2 == 0:
    median_age = (ages[n//2 - 1] + ages[n//2]) / 2
else:
    median_age = ages[n//2]
print("Median age:", median_age)

Median age: 24.0

In [59]:
average_age = sum(ages) / len(ages)
print("Average age:", average_age)

Average age: 22.75

In [60]:
age_range = max_age - min_age
print("Age range:", age_range)

Age range: 7

In [61]:
min_diff = abs(min_age - average_age)
max_diff = abs(max_age - average_age)
print("Min diff from average:", min_diff)
print("Max diff from average:", max_diff)

Min diff from average: 3.75
Max diff from average: 3.25

In [62]:
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
middle_index = len(countries) // 2
if len(countries) % 2 == 0:
    middle_countries = countries[middle_index-1:middle_index+1]
else:
    middle_countries = countries[middle_index]
print("Middle countries):", middle_countries)

Middle countries): Finland

In [63]:
half_1 = countries[:middle_index + 1]
half_2 = countries[middle_index + 1:]
print("First half of countries:", half_1)
print("Second half of countries:", half_2)

First half of countries: ['China', 'Russia', 'USA', 'Finland']
Second half of countries: ['Sweden', 'Norway', 'Denmark']

In [64]:
first_three, *scandic_countries = countries
print("First three countries:", first_three)
print("Scandic countries:", scandic_countries)

First three countries: China
Scandic countries: ['Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']